@use "../utils" as *;

.header {
  &__contenido {
    position: relative;
  }

  &__titulo {
    display: none;

    @include breakpoint-down(sm) {
      display: flex;
      position: absolute;
      z-index: 2;
      top: 13%;
      width: 100%;
      justify-content: center;
      align-items: center;
      text-align: center;
      color: white;
      font-family: $fuente_principal;
      font-size: 1.8rem;
      font-weight: bold;
      white-space: nowrap;
      opacity: 0;
      animation: titleAppearSmall 1.7s ease-out forwards;
    }
  }

  @keyframes titleAppearSmall {
    from {
      opacity: 0;
      transform: scale(0.9);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  &__imagen {
    line-height: 0;

    img {
      object-fit: cover;
      display: block;
      width: 100%;
      height: 85vh;

      @include breakpoint-down(md) {
        height: 80vh;
      }
    }
  }
}

.menu-bar {
  display: none;

  @include breakpoint-up(md) {
    position: fixed;
    top: 3.5rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    border-radius: 2.5rem;
    height: fit-content;
    display: inline-flex;
    background-color: rgba($timberwolf, 0.2);
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
    align-items: center;
    padding: 0 1rem;

    a {
      list-style: none;
      color: white;
      font-family: sans-serif;
      font-weight: bold;
      padding: 1rem 1.6rem;
      margin: 0 0.8rem;
      position: relative;
      cursor: pointer;
      white-space: nowrap;
      &::before {
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        transition: 0.2s;
        border-radius: 2.5rem;
      }
      &:hover {
        &::before {
          background: $satin_sheen_gold;
          box-shadow: 0 0.3rem 2rem 0 black;
          transform: scale(1.2);
        }
        color: white;
      }
    }
  }
}
